@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --navbg: #fffffffd;
    --navcolor: #000;
    --submenuDesc: #0000009a;
    --navhover: #00000092;
    --submenuhover: rgba(10, 87, 87, 0.081);
    --navborderbottom: #19b2e5;
    --s_title: #37a001;
 
    --white: #fff;
    --black: #000;
    --dark: #000;
    --gray: #22222227;
    --primary: #007bff;
}
body{
    background-color: var(--submenuhover);
}
.content{
    padding: 0px 50px;
} 
.nav{
    background: var(--navbg);
    color: var(--navcolor);
    border-bottom: 5px solid #3E8DA8;
}
.nav_bar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
}
.nav_bar .logo{
    width: 15%;
    height: 100%;
    font-size: 30px;
}
.nav_bar .logo img{
    width: 100%;
}

.nav_bar .menu{
    width: 90%;
    height: 100%;
    padding: 0px 20px;
}

.nav_bar .menu ul{
    list-style: none;
    display: flex;
    justify-content: end;
    margin-bottom: 0px;
}

.nav_bar .menu ul li{
    padding: 20px 10px;
    height: 100%;
    cursor: pointer;
}

.nav_bar .menu ul li a{
    text-decoration: none;
    color: var(--navcolor);
    font-size: 16px;
    font-weight: 500;
}

.arrow {
    height: 100%;
    width: 22px;
    text-align: center;
    color: var(--navcolor);
    transition: all 0.3s ease;
}
.nav_bar .menu ul li a:hover{
    color: var(--navhover);
}
.nav_bar .menu ul li:hover .arrow{
    transform: rotate(180deg);
}

.nav_bar .menu_icon i {
    line-height: 50px;
    font-size: 35px;
    color: var(--navcolor);
    cursor: pointer;
}

.nav_bar .menu_icon i:hover{
    color: var(--navhover);
}


.nav_bar .menu ul li .sub-menu-service {
    position: absolute;
    top: 63px;
    left: 46%;
    background: var(--navbg);
    border-radius: 0 0 4px 4px;
    display: none;
    padding: 0px !important;
    cursor: pointer;
    flex-direction: column;
}
.nav_bar .menu ul li .sub-menu-service li a{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.nav_bar .menu ul li:hover .sub-menu-service {
    display: flex;
}

.nav_bar .menu ul li .sub-menu-service li {
    line-height: 2px;
    border-bottom: 0.2px dashed var(--navborderbottom);
}
.nav_bar .menu ul li .sub-menu-service li:hover{
    background-color: var(--submenuhover) !important;
}

.nav_bar .menu ul li .megamenu {
    position: absolute;
    top: 63px;
    background: var(--navbg);
    border-radius: 0 0 4px 4px;
    display: none;
    cursor: pointer;
    left: 20%;
    padding: 0px;
    width: 800px;
}
.nav_bar .menu ul li:hover .megamenu {
    display: flex;
    flex-wrap: wrap;
}
.nav_bar .menu ul li .megamenu .menu-list{
    padding-left: 5px;
}

.sub_menu_list{
    padding: 10px 20px !important;
    margin: 0px 10px !important;
}

.sub_menu_list:hover{
    background-color: var(--submenuhover);
    border-radius: 8px;
}

.img-icon img{
    width: 25px;
    padding-top: 3px;
}

.sub_menu_content{
    padding-left: 8px;
    flex-direction: column;
}

.sub_menu_title{
    font-size: 16px;
}
.sub_menu_desc{
    font-size: 13px;
    color: var(--submenuDesc);
}


/* banner design  start*/
#banner {
    background-image: url(../images/banner.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    /* text-align: center; */
    /* justify-content: center; */
}

.banner {
    margin-top: 150px;
}

.ban_title{
    color: var(--white);
}
.ban_card{
    background-color: #ffffffc5 !important;
    border-radius: 8px;
}
.ban_card a{
    text-decoration: none;
}
.ban_content{
    align-items: center;
}
.ban_content:hover{
    background-color: var(--submenuhover);
}
.ban_img img{
    width: 70px;
    padding: 10px;
}

.ban_content{
    padding: 5px;
}

.ban_content h4{
    font-size: 16px;
    color: #000;
    margin-bottom: 0px !important;
}
.ban_content span{
    font-size: 14px;
    color: #00000098;
}
/* banner design end*/

/* service design end*/
.s_service h2{
    font-weight: 600;
}
.s_content {
    padding: 0px 300px;
}

.s_title {
    color: var(--s_title);
    font-weight: 600;
}

.s_content p {
    line-height: 1.4;
    font-size: 14px;
    color: var(--submenuDesc);
}



