@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --navbg: #fffffffd;
    --navcolor: #000;
    --submenuDesc: #0000009a;
    --navhover: #00000092;
    --submenuhover: rgba(10, 87, 87, 0.081);
    --navborderbottom: #19b2e5;
    --s_title: #37a001;
 
    --white: #fff;
    --black: #000;
    --dark: #000;
    --gray: #22222227;
    --primary: #007bff;
}
body{
    background-color: var(--submenuhover);
}
.content{
    padding: 0px 50px;
} 
.nav{
    background: var(--navbg);
    color: var(--navcolor);
    border-bottom: 5px solid #3E8DA8;
}
.nav_bar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
}
.nav_bar .logo{
    width: 15%;
    height: 100%;
    font-size: 30px;
}
.nav_bar .logo img{
    width: 100%;
}

.nav_bar .menu{
    width: 90%;
    height: 100%;
    padding: 0px 20px;
}

.nav_bar .menu ul{
    list-style: none;
    display: flex;
    justify-content: end;
    margin-bottom: 0px;
}

.nav_bar .menu ul li{
    padding: 20px 10px;
    height: 100%;
    cursor: pointer;
}

.nav_bar .menu ul li a{
    text-decoration: none;
    color: var(--navcolor);
    font-size: 16px;
    font-weight: 500;
}

.arrow {
    height: 100%;
    width: 22px;
    text-align: center;
    color: var(--navcolor);
    transition: all 0.3s ease;
}
.nav_bar .menu ul li a:hover{
    color: var(--navhover);
}
.nav_bar .menu ul li:hover .arrow{
    transform: rotate(180deg);
}

.nav_bar .menu_icon i {
    line-height: 50px;
    font-size: 35px;
    color: var(--navcolor);
    cursor: pointer;
}

.nav_bar .menu_icon i:hover{
    color: var(--navhover);
}


.nav_bar .menu ul li .sub-menu-service {
    position: absolute;
    top: 63px;
    left: 46%;
    background: var(--navbg);
    border-radius: 0 0 4px 4px;
    display: none;
    padding: 0px !important;
    cursor: pointer;
    flex-direction: column;
}
.nav_bar .menu ul li .sub-menu-service li a{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.nav_bar .menu ul li:hover .sub-menu-service {
    display: flex;
}

.nav_bar .menu ul li .sub-menu-service li {
    line-height: 2px;
    border-bottom: 0.2px dashed var(--navborderbottom);
}
.nav_bar .menu ul li .sub-menu-service li:hover{
    background-color: var(--submenuhover) !important;
}

.nav_bar .menu ul li .megamenu {
    position: absolute;
    top: 63px;
    background: var(--navbg);
    border-radius: 0 0 4px 4px;
    display: none;
    cursor: pointer;
    left: 20%;
    padding: 0px;
    width: 800px;
}
.nav_bar .menu ul li:hover .megamenu {
    display: flex;
    flex-wrap: wrap;
}
.nav_bar .menu ul li .megamenu .menu-list{
    padding-left: 5px;
}

.sub_menu_list{
    padding: 10px 20px !important;
    margin: 0px 10px !important;
}

.sub_menu_list:hover{
    background-color: var(--submenuhover);
    border-radius: 8px;
}

.img-icon img{
    width: 25px;
    padding-top: 3px;
}

.sub_menu_content{
    padding-left: 8px;
    flex-direction: column;
}

.sub_menu_title{
    font-size: 16px;
}
.sub_menu_desc{
    font-size: 13px;
    color: var(--submenuDesc);
}


/* banner design  start*/
#banner {
    background-image: url(../images/banner.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    /* text-align: center; */
    /* justify-content: center; */
}

.banner {
    margin-top: 150px;
}

.ban_title{
    color: var(--white);
}
.ban_card{
    background-color: #ffffffc5 !important;
    border-radius: 8px;
}
.ban_card a{
    text-decoration: none;
}
.ban_content{
    align-items: center;
}
.ban_content:hover{
    background-color: var(--submenuhover);
}
.ban_img img{
    width: 70px;
    padding: 10px;
}

.ban_content{
    padding: 5px;
}

.ban_content h4{
    font-size: 16px;
    color: #000;
    margin-bottom: 0px !important;
}
.ban_content span{
    font-size: 14px;
    color: #00000098;
}
/* banner design end*/

/* service design end*/
.s_service h2{
    font-weight: 600;
}
.s_content {
    padding: 0px 300px;
}

.s_title {
    color: var(--s_title);
    font-weight: 600;
}

.s_content p {
    line-height: 1.4;
    font-size: 14px;
    color: var(--submenuDesc);
}
.service p{
    text-align: justify;
}
.title{
    color: var(--s_title);
}
.card_color{
    background-image: linear-gradient(135deg,  #c8d4ff, #f5e9e9);
    border-left: 5px solid #c8d4ff;
}
.card_hover:hover{
    border-left: 5px solid var(--navborderbottom);
}
.custom-shadow {
    box-shadow: 0px 0px 10px 5px rgba(146, 146, 148, 0.596) !important; 
}

.explore_button {
    box-shadow: 0px 0px 10px 5px rgba(199, 199, 247, 0.596) !important; 
    background-color: #f5e9e9; 
    font-weight: 600;
    background-image: linear-gradient(135deg,  #b1c2fe, #f5e9e9);
    color: #ee9120 !important;
}

.explore_button:hover {
    color: #000 !important;
}

.menu_list{
    width: 20%;
    
}
.content_hight{
    height: 400px;
}
.menu_content{
    width: 80%;
}

.service-memu{
    list-style: none;
    padding-left: 0 !important;
}
/* Webkit scrollbar styles */
.service-memu {
    max-height: 340px;
    overflow-y: auto;
}

.service-memu::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/*scrollbar site icone*/
.service-memu::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}
/* Webkit scrollbar styles end */

.service-memu li{
    padding: 5px 20px;
    border-bottom: 1px solid #b1c2fe;
}

.service-memu li a{
    text-decoration: none;
    color: #000;
}

.service-memu li:hover{
    background-color: var(--submenuhover) !important;
}

.s_img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tap{
    background-color: #cbddef77;
    padding-left: 0px;
}
.tap .btn{
    border: none !important;
}

.tap li.active {
    box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgba(127, 163, 199, 0.3);
    background: linear-gradient(103deg, #e3edf7, #ffffff);
}

.product-btn {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
}

.card:hover .product-btn {
    opacity: 1;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    background: linear-gradient(103deg, #52535898, #aaa49fd2);
}




.product-btn a {
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    width: 120px;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}


.p_title .p_name{
    font-size: 16px;
    font-weight: 400;
}
.p_title .p_cate{
    font-size: 12px;
}

.p_btn{
    gap: 8px;
}

.product-btn .read{
    background: linear-gradient(103deg, #21ee40, #ff8e32d2);
}
.product-btn .view{
    background: linear-gradient(103deg, #FF8F32, #21ee40);
}

.p_img{
    border-bottom: 5px solid #19b2e5;
}

.p_comp a{
    padding: 0px 15px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.p_comp a:hover{
    color: var(--s_title);
}

.button{
    background: linear-gradient(103deg, #21ee40, #ff8e32d2);
    padding: 10px 25px;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    font-weight: 500;
}
.button:hover{
    background: linear-gradient(103deg, #41da58, #e08133d2);
}

/* portfolio end */

.about_title{
    color: var(--s_title);
}

.about-icon {
    margin-right: 25px;
    border-radius: 50%;
    transition: 0.6s cubic-bezier(0.24, 0.74, 0.58, 1);
    box-shadow: 0px 25px 24px 0px rgba(4, 21, 59, 0.276);
    background-color: #b9d8e249;
}
.about-icon img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;  
}

.about_card {
    top: 0;
    left: 0;
    width: 205px;
    height: 215px;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 9px 21px 0px rgba(0, 13, 42, 0.08);
    z-index: 1;
}

.about_img{
    top: 0;
    left: 0;
    padding-left: 80px;
    padding-top: 80px;  
}

.about_img img{
    border-radius: 20px;
}

.circle-progress-icon{
    margin: 10px;
    padding: 0px 25px 25px 25px;
    padding-top: 10px;
    border: 15px solid #21ee40;
    border-radius: 100%;
}
.circle-progress-icon .success{
    font-size: 25px;
    font-weight: 800;
}

.success_title{
    font-size: 16px;
    font-weight: 800;
}

.achievement{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 5px solid #E8F7F6;
}

.ach_content{
    padding: 20px;
}

.ach_content img{
    width: 50px;
}

.ach_content .counter{
    font-size: 40px;
    line-height: 1;
}


.contact_card {
    background-image: linear-gradient(135deg, #e8f7f6d2, #f5e9e9d7);
    border-radius: 15px !important;
    padding: 30px;
}
.contact_card{
    font-size: 16px;
    font-weight: 400;
}

.contact_card img{
    width: 60px;
}

.contact_content a{
    padding: 10px 10px;
    text-decoration: none;
    color: #000;
}