@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --background: rgba(10, 87, 87, 0.081);
    --white: #fff;
    --black: #000;
    --dark: #0000009a;
    --gray: #22222227;
    --title: #37a001;
    --s_title: #4154f1;
    --border: #3E8DA8;

}
body{
    background-color: var(--background);
}
.content{
    padding: 0px 50px;
} 
/* custom scrollbar start*/ 
.custom-scrollbar {
    overflow: auto !important;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px !important;
}
/* custom scrollbar end*/

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 425px) {}

@media only screen and (max-width: 350px) {}

/******************** header design start *******************/
#header .nav{
    background: var(--white);
    color: var(--black);
    border-bottom: 5px solid var(--border);
}
#header .nav_bar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
}
#header .nav_bar .logo{
    width: 15%;
    height: 100%;
    font-size: 25px;
}
#header .nav_bar .logo img{
    width: 100%;
}

#header .nav_bar .menu{
    width: 90%;
    height: 100%;
    padding: 0px 20px;
}

#header .nav_bar .menu ul{
    list-style: none;
    display: flex;
    justify-content: end;
    margin-bottom: 0px;
}

#header .nav_bar .menu ul li{
    padding: 20px 10px;
    height: 100%;
    cursor: pointer;
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
}

#header .nav_bar .menu ul li a{
        padding: 20px 10px !important;
}

#header .nav_bar .menu ul li:hover{
    color: var(--dark);
}

#header .nav_bar .menu ul li a{
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
}

#header .arrow {
    height: 100%;
    width: 22px;
    text-align: center;
    color: var(--black);
    transition: all 0.3s ease;
}

#header .nav_bar .menu ul li a:hover{
    color: var(--dark);
}
#header .nav_bar .menu ul li:hover .arrow{
    transform: rotate(180deg);
}

#header .nav_bar .menu_icon i {
    line-height: 50px;
    font-size: 35px;
    color: var(--black);
    cursor: pointer;
}

#header .nav_bar .menu_icon i:hover{
    color: var(--dark);
}

#header .nav_bar .menu ul li .sub-menu-service {
    position: absolute;
    top: 63px;
    left: 52%;
    background: var(--white);
    border-radius: 0 0 4px 4px;
    display: none;
    padding: 0px !important;
    cursor: pointer;
    flex-direction: column;
}

#header .nav_bar .menu ul li .sub-menu-service li a{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

#header .nav_bar .menu ul li:hover .sub-menu-service {
    display: flex;
}

#header .nav_bar .menu ul li .sub-menu-service li {
    line-height: 2px;
    border-bottom: 0.2px dashed var(--navborderbottom);
}

#header .nav_bar .menu ul li .sub-menu-service li:hover{
    background-color: var(--background) !important;
}

#header .nav_bar .menu ul li .megamenu {
    position: absolute;
    top: 63px;
    background: var(--white);
    border-radius: 0 0 4px 4px;
    display: none;
    cursor: pointer;
    left: 20%;
    padding: 0px;
    width: 800px;
}

#header .nav_bar .menu ul li:hover .megamenu {
    display: flex;
    flex-wrap: wrap;
}

#header .nav_bar .menu ul li .megamenu .menu-list{
    padding-left: 5px;
}

#header .sub_menu_list{
    padding: 0px 0px !important;
    margin: 0px 0px !important;
}

#header .sub_menu_list a{
    padding: 10px 20px !important;
    margin: 0px 10px !important;
}

#header .sub_menu_list:hover{
    background-color: var(--background);
    border-radius: 8px;
}

#header .img-icon img{
    width: 25px;
    padding-top: 3px;
}

#header .sub_menu_content{
    padding-left: 8px;
    flex-direction: column;
}

#header .sub_menu_title{
    font-size: 16px;
}

#header .sub_menu_desc{
    font-size: 13px;
    color: var(--dark);
}

@media only screen and (max-width: 1100px) {
    #header .nav_bar .menu ul li .sub-menu-service {
            left: 45%;
        }
    #header .nav_bar .menu ul li .megamenu {
        left: 15%;
    }
    
}

@media only screen and (max-width: 992px) {
    #header .nav_bar .menu ul li .megamenu {
            left: 10%;
        }
    .menu .about {
        display: none;
    }
}
@media only screen and (max-width: 900px) {
    #header .nav_bar .menu ul li .megamenu {
            left: 5%;
        }
}
@media only screen and (max-width: 850px) {
    #header .nav_bar .menu ul li .megamenu {
            left: 2%;
        }
}
@media only screen and (max-width: 768px) {
    .menu .product {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    #header .logo a{
        font-size: 20px;
    }
    #header .nav_bar .menu_icon i {
        padding: 0px;
    }
    #header .nav_bar .menu {
        padding: 0px;   
    }
    #header .menu .home {
        display: none;
    }
    #header .nav_bar .menu ul li .megamenu {
        left: 4%;
    }
}
@media only screen and (max-width: 470px) {
    #header .menu .home {
        display: none;
    }
     #header .nav_bar .menu ul li .sub-menu-service {
        left: 30%;
    }
}
/* Header design  End*/

/*********** Menu List start  ***************/
.menu-container {
    background-color: var(--white);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 300px;
    height: 100vh;
    overflow-y: auto;
}

.menu-container .menu-heading {
    background-color: var(--black);
}

.menu-container .menu-title {
    color: var(--title);
    padding: 20px 20px;
    margin-bottom: .0rem;
    font-weight: 900;
    font-size: 24px;
    
}

.menu-container .menu-list {
    height: 82vh;
    padding-right: 10px;
}

.menu-container .menu-list .menu-sub-title {
    padding: 12px 20px;
    margin-bottom: unset !important;
    font-weight: 600;
}

.menu-container .menu-list .menu-bottom {
    border-bottom: 2px solid var(--gray) !important;
}

.menu-container .menu-list li {
    list-style: none;
    font-size: 14px;
}

.menu-container .menu-list a {
    padding: 8px 20px;
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    color: var(--black);
    cursor: pointer;
}

.menu-container .menu-list a:hover {
    background-color: var(--gray);
    color: var(--black);
}

.menu-container button i:hover {
    color: var(--warning) !important;
}
/*********** Menu List end  ***************/


/* banner design end*/


/* Global class Start */
.s_service h2{
    font-weight: 600;
}

.title {
    color: var(--title);
    font-weight: 600;
}

.s_content {
    padding: 0px 200px;
    line-height: 1.4;
    font-size: 14px;
    color: var(--dark);
}

.text p{
    text-align: justify;
}
.title{
    color: var(--title);
}

.card_color{
    background-image: linear-gradient(135deg,  #c8d4ff, #f5e9e9);
    border-left: 5px solid #c8d4ff;
}

.card_hover:hover{
    border-left: 5px solid var(--navborderbottom);
}

.custom-shadow {
    box-shadow: 0px 0px 10px 5px rgba(146, 146, 148, 0.596) !important; 
}

.explore_button {
    box-shadow: 0px 0px 10px 5px rgba(199, 199, 247, 0.596) !important; 
    background-color: #f5e9e9; 
    font-weight: 600;
    background-image: linear-gradient(135deg,  #b1c2fe, #f5e9e9);
    color: #000 !important;
}

.explore_button:hover {
    color: #ee9120 !important;
}

.s_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background: linear-gradient(103deg, #21ee40, #ff8e32d2);
    padding: 10px 25px;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    font-weight: 500;
}

.button:hover {
    background: linear-gradient(103deg, #41da58, #e08133d2);
}

.page_card {
    background-image: linear-gradient(135deg, #c8d4ff, #f5e9e9);
}

.page_card:hover {
    border-bottom: 5px solid var(--navborderbottom);
    border-right: 5px solid var(--navborderbottom);
}
/* Global class end */

/* software design end */
#software .menu_list{
    width: 20%;
    
}
#software .content_hight{
    height: 400px;
}
#software .menu_content{
    width: 80%;
}

#software .service-memu{
    list-style: none;
    padding-left: 0 !important;
}

/* Webkit scrollbar styles */
#software .service-memu {
    max-height: 340px;
    overflow-y: auto;
}

#software .service-memu::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/*scrollbar site icone*/
#software .service-memu::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}
/* Webkit scrollbar styles end */

#software .service-memu li{
    padding: 5px 20px;
    border-bottom: 1px solid #b1c2fe;
}

#software .service-memu li a{
    text-decoration: none;
    color: #000;
}

#software .service-memu li:hover{
    background-color: var(--background) !important;
}
/* software design end */


/* portfolio design start */
#portfolio .tap{
    background-color: #cbddef77;
    padding-left: 0px;
}

#portfolio .tap .btn{
    border: none !important;
}

#portfolio .tap li.active {
    box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgba(127, 163, 199, 0.3);
    background: linear-gradient(103deg, #e3edf7, #ffffff);
}

#portfolio .product-btn {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
}

#portfolio .card:hover .product-btn {
    opacity: 1;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    background: linear-gradient(103deg, #52535898, #aaa49fd2);
}

#portfolio .product-btn a {
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    width: 120px;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

#portfolio .p_title .p_name{
    font-size: 16px;
    font-weight: 400;
}

#portfolio .p_title .p_cate{
    font-size: 12px;
}

#portfolio .p_btn{
    gap: 8px;
}

#portfolio .product-btn .read{
    background: linear-gradient(103deg, #21ee40, #ff8e32d2);
}
.product-btn .view{
    background: linear-gradient(103deg, #FF8F32, #21ee40);
}

#portfolio .p_img{
    border-bottom: 5px solid #19b2e5;
}

#portfolio .p_comp a{
    padding: 0px 15px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

#portfolio .p_comp a:hover{
    color: var(--title);
}

/* portfolio end */


/* about design strat */

#about .about_title{
    color: var(--title);
}

#about .about-icon {
    margin-right: 25px;
    border-radius: 50%;
    transition: 0.6s cubic-bezier(0.24, 0.74, 0.58, 1);
    box-shadow: 0px 25px 24px 0px rgba(4, 21, 59, 0.276);
    background-color: #b9d8e249;
}
#about .about-icon img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;  
}

#about .about_card {
    top: 0;
    left: 0;
    width: 205px;
    height: 215px;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 9px 21px 0px rgba(0, 13, 42, 0.08);
    z-index: 1;
}

#about .about_img{
    top: 0;
    left: 0;
    padding-left: 80px;
    padding-top: 80px;  
}

.about_img img{
    border-radius: 20px;
}

#about .progress-icon{
    margin: 10px;
    padding: 0px 25px 25px 25px;
    padding-top: 10px;
    border: 15px solid #21ee40;
    border-radius: 100%;
}
#about .progress-icon .success{
    font-size: 25px;
    font-weight: 800;
}

#about .succestitle{
    font-size: 16px;
    font-weight: 800;
}
/* about design end */

/* achievement design start */
#achievement .achievement{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 5px solid #E8F7F6;
}

#achievement .ach_content{
    padding: 20px;
}

#achievement .ach_content img{
    width: 50px;
}

#achievement .ach_content .counter{
    font-size: 40px;
    line-height: 1;
}

#footer-card .contact_card {
    background-image: linear-gradient(135deg, #e8f7f6d2, #f5e9e9d7);
    border-radius: 15px !important;
    padding: 30px;
}

#footer-card .contact_card{
    font-size: 16px;
    font-weight: 400;
}

#footer-card .contact_card img{
    width: 60px;
}

#footer-card .contact_content a{
    padding: 10px 10px;
    text-decoration: none;
    color: #000;
}

#footer .footer{
    background-image: linear-gradient(135deg, #e8f7f6d2, #f5e9e9d7);
}

#footer .footer p{
    text-align: justify;
}

#footer .footer .widget-title {
    font-size: 18px;
    color: #000;
    padding-bottom: 20px;
}

#footer .footer ul{
    list-style: none;
    padding-left: 0px;
}

#footer .footer ul li{
    padding: 5px 0px;
}

.footer form {
    max-width: 350px;
    margin: 15px auto;
    position: relative;
}

#footer .footer .subscribe {
    width: 100%;
    height: 55px;
    background: #fff;
    border-radius: 100px;
    padding: 0 30px;
    border: none;
}

#footer .subscribe-button {
    height: 30px;
    padding: 0 15px;
    border-radius: 3px;
    border: none;
    position: absolute;
    right: 14px;
    top: 14px;
    line-height: 14px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    border-radius: 100px;
    background-image: linear-gradient(135deg, #16f036, #7cf016ad);
}

#footer .gateway{
    width: 12%;
}

#footer .payment_gateway{
    display: flex;
    justify-content: space-around;
    border: 2px solid #fff;
    padding: 10px 5px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

/* ============================================================== */

#background {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 350px;
}

#background .breadcrumb a{
    color: #fff !important;
    text-decoration: none;
    font-size: 16px;
}
#background .active{
    color: #969494 !important;
    text-decoration: none;
}
#page{
    background-image: linear-gradient(135deg, #c5cff3, #f5e9e9);
}

#page .page_title{
    padding-top: 110px;
}

#page .page_title h1{
    font-size: 50px !important;
    font-weight: 600;
    padding-top: 20px;
}
#page .page_title .left_icon img{
    width: 35px;
}
#page .page_title .right_icon img{
    width: 80px;
}

#page .page_desc{
    padding-left: 35px;
}


#technolgy .technolgy_title h3 {
    font-weight: 600;
    color: #000000b3;
}

#technolgy .technolgy_title h4 {
    color: #00000075;
}

#technolgy .technolgy_img {
    display: flex;  
}

#technolgy .technolgy_img img{
    width: 90px;
    border: 2px solid #ffffffab;
    padding: 10px 10px;
    margin: 0px 5px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgba(127, 163, 199, 0.3);
}

#workprocess .process_icon i{
    font-size: 40px;
    border-radius: 100px;
}

#workprocess .process_content{
    padding-left: 15px;
    text-align: start;
    width: 100%;
}
#workprocess .process_content h4 span{
    font-size: 20px;
    font-weight: 600;
}
#workprocess .process_content p{
    border-top: 2px dashed red;
    margin-bottom: 0px !important;
    font-size: 16px;
    font-weight: 600;
    padding-top: 3px;
}

#workprocess .process_icon .one {
    padding: 8px 6px;
    color: #fff;
    border: 10px solid #f19c9cab;
    background-image: -webkit-linear-gradient(right, #ff4a9f 0, #ffceec 100%);
}

#workprocess .process_icon .two {
    padding: 8px 8px;
    color: #fff;
    border: 10px solid #f19c9cab;
    background-image: -webkit-linear-gradient(right, #ff5728 0, #ffc587 100%, #ffd328 100%);
}

#workprocess .process_icon .three {
    padding: 8px 4px;
    color: #fff;
    border: 10px solid #289bff6d;
    background-image: -webkit-linear-gradient(right, #2899ff 0, #a9e0ff 100%, #ffc587 100%);
}

#workprocess .process_icon .four {
    padding: 10px 14px;
    color: #fff;
    border: 10px solid #01ce917d;
    background-image: -webkit-linear-gradient(right, #01ce92 0, #58ff83 100%);
}

#software {
    background-image: url('../images/backimage.jpg');
    background-size: cover;
    background-position: center;
    
}

#software .overlay{
    background-color: #00000084 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
    color: #fff;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about{
    padding: 40px 0px;
}
.about .data {
    background-color: #f6f9ff;
    padding: 40px;
}

.about h3 {
    font-size: 14px;
    font-weight: 700;
    color: #4154f1;
    text-transform: uppercase;
}

.about h2 {
    font-size: 24px;
    font-weight: 700;
    color: #012970;
}

.about p {
    margin: 15px 0 30px 0;
    line-height: 24px;
}

.about .btn-read-more {
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
    text-decoration: none;
}

.about .btn-read-more span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.about .btn-read-more i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
}

.about .btn-read-more:hover i {
    transform: translateX(5px);
}

/*--------------------------------------------------------------
# Values
--------------------------------------------------------------*/

.section-header {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}

.section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;
}

.section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
}
.values .box {
    padding: 30px;
    box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
    text-align: center;
    transition: 0.3s;
    height: 100%;
    background-color: #fff;
}

.values .box img {
    padding: 30px 50px;
    transition: 0.5s;
    transform: scale(1.1);
}

.values .box h3 {
    font-size: 24px;
    color: #012970;
    font-weight: 700;
    margin-bottom: 18px;
}

.values .box:hover {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.values .box:hover img {
    transform: scale(1);
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/


.features .icon-box {
    display: flex;
}

.features .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: #012970;
}

.features .icon-box i {
    font-size: 44px;
    line-height: 44px;
    color: #0245bc;
    margin-right: 15px;
}

.features .icon-box p {
    font-size: 15px;
    color: #848484;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
    color: #444444;
    background: #fafbff;
    padding: 30px;
}

.contact .info-box i {
    font-size: 38px;
    line-height: 0;
    color: #4154f1;
}

.contact .info-box h3 {
    font-size: 20px;
    color: #012970;
    font-weight: 700;
    margin: 20px 0 10px 0;
}

.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.contact .php-email-form {
    background: #fafbff;
    padding: 30px;
    height: 100%;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 0;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: #4154f1;
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email] {
    padding: 10px 15px;
}

.contact .php-email-form textarea {
    padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
    background: #4154f1;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
    background: #5969f3;
}
.info-box i{
    padding-top: 12px !important;
}