@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 425px) {}

@media only screen and (max-width: 350px) {}

:root {
    --background: rgba(10, 87, 87, 0.081);
    --white: #fff;
    --black: #000;
    --dark: #0000009a;
    --gray: #22222227;
    --primary: #0245bc;
    --heading: #37a001;
    --sub-heading: #000000b9;
    --border: #3E8DA8;
    --button: #4154f1;
    --box-shadow:-6px -6px 10px 0px #e9f4fc, 4px 3px 15px 0px rgba(157, 193, 229, 0.842);

}
body{
    background-color: var(--background);
}
.content{
    padding: 0px 50px;
} 

.button {
    background: linear-gradient(103deg, #21ee40, #ff8e32d2);
    padding: 10px 25px;
    border-radius: 25px;
    text-decoration: none;
    color: var(--white);
    font-size: 19px;
    font-weight: 500;
}

.button:hover {
    background: linear-gradient(103deg, #41da58, #e08133d2);
}
/* custom scrollbar start*/ 
.custom-scrollbar {
    overflow: auto !important;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px !important;
}
/* custom scrollbar end*/
.section-header {
    text-align: center;
}

.section-header .s_head {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
    color: var(--sub-heading);
}
.section-header .s_heading {
    font-size: 30px;
    line-height: 42px;
    font-weight: 700;
    color: var(--heading);
}

.section-header .s_content {
    padding: 0% 25%;
    line-height: 1.4;
    font-size: 14px;
    color: var(--dark);
}

@media only screen and (max-width: 992px) {
    .section-header .s_content {
        padding: 0% 15%;
    }
}
@media only screen and (max-width: 768px) {
    .section-header .s_content {
        padding: 0% 8%;
    }
    .section-header .s_heading {
        font-size: 20px;
    }
}

@media only screen and (max-width: 576px) {
    .content {
            padding: 0px 10px;
        }
}
@media only screen and (max-width: 500px) {
    .section-header .s_content {
            padding: 0% 0%;
        }
}

/* Global class end */

/******************** header design start *******************/
#header .nav{
    background: var(--white);
    color: var(--black);
    border-bottom: 5px solid var(--border);
}
#header .nav_bar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
}
#header .nav_bar .logo{
    width: 15%;
    height: 100%;
    font-size: 25px;
}
#header .nav_bar .logo img{
    width: 100%;
}
#header .nav_bar .menu{
    width: 85%;
    height: 100%;
    padding: 0px 20px;
}
#header .nav_bar .menu ul{
    list-style: none;
    display: flex;
    justify-content: end;
    margin-bottom: 0px;
}
#header .nav_bar .menu ul li{
    padding: 20px 10px;
    height: 100%;
    cursor: pointer;
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
    position: relative;
}
#header .nav_bar .menu ul li a{
        padding: 20px 10px !important;
}
#header .nav_bar .menu ul li:hover{
    color: var(--dark);
}
#header .nav_bar .menu ul li a{
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
}
#header .arrow {
    height: 100%;
    width: 22px;
    text-align: center;
    color: var(--black);
    transition: all 0.3s ease;
}
#header .nav_bar .menu ul li a:hover{
    color: var(--dark);
}
#header .nav_bar .menu ul li:hover .arrow{
    transform: rotate(180deg);
}
#header .nav_bar .menu_icon i {
    line-height: 50px;
    font-size: 35px;
    color: var(--black);
    cursor: pointer;
}
#header .nav_bar .menu_icon i:hover{
    color: var(--dark);
}
#header .nav_bar .menu ul li .sub-menu-service {
    position: absolute;
    top: 63px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--white);
    border-radius: 0 0 4px 4px;
    display: none;
    padding: 0 !important;
    cursor: pointer;
    flex-direction: column;
    width: max-content;
    white-space: nowrap;
    z-index: 1000;
}
#header .nav_bar .menu ul li .sub-menu-service li a{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
#header .nav_bar .menu ul li:hover .sub-menu-service {
    display: flex;
}
#header .nav_bar .menu ul li .sub-menu-service li {
    line-height: 2px;
    border-bottom: 0.2px dashed var(--black);
}
#header .nav_bar .menu ul li .sub-menu-service li:hover{
    background-color: var(--background) !important;
}
#header .nav_bar .menu ul li .megamenu {
    position: absolute;
    top: 63px;
    transform: translateX(-50%);
    background: var(--white);
    border-radius: 0 0 4px 4px;
    display: none;
    cursor: pointer;
    padding: 0;
    width: 800px;
    z-index: 1000;
}
#header .nav_bar .menu ul li:hover .megamenu {
    display: flex;
}
#header .nav_bar .menu ul li .megamenu .menu-list{
    padding-left: 5px;
    flex-wrap: wrap;
}
#header .nav_bar .menu ul li .megamenu .menu-list .sub_menu_list{
    padding: 0px 0px !important;
    margin: 0px 10px !important;
    width: calc(33.33% - 20px) !important;
    height: auto;
}
#header .nav_bar .menu ul li .megamenu .menu-list .sub_menu_list a{
    padding: 10px 10px !important;
    margin: 0px 0px !important;
}
#header .nav_bar .menu ul li .megamenu .menu-list .sub_menu_list:hover{
    background-color: var(--background);
    border-radius: 8px;
}
#header .nav_bar .menu ul li .megamenu .menu-list .sub_menu_list .img-icon img{
    width: 25px;
    padding-top: 3px;
}
#header .nav_bar .menu ul li .megamenu .menu-list .sub_menu_list .sub_menu_content{
    padding-left: 8px;
    flex-direction: column;
}
#header .nav_bar .menu ul li .megamenu .menu-list .sub_menu_list .sub_menu_heading{
    font-size: 16px;
}
#header .nav_bar .menu ul li .megamenu .menu-list .sub_menu_list .sub_menu_desc{
    font-size: 13px;
    color: var(--dark);
}
@media only screen and (max-width: 992px) {
    #header .nav_bar .menu ul li .megamenu {
            padding-right: 100px;
        }
    #header .nav_bar .menu .about {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    #header .nav_bar .menu .product {
        display: none;
    }
}
@media only screen and (max-width: 576px) {
    #header .logo a{
        font-size: 20px;
    }
    #header .nav_bar .menu_icon i {
        padding: 0px;
    }
    #header .nav_bar .menu {
        padding: 0px;   
    }
    #header .menu .home {
        display: none;
    }
}
@media only screen and (max-width: 470px) {
    #header .menu .home {
        display: none;
    }
    #header button{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    #header .menu .service , .hires{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}
/******************* Header design  End****************/

/*********** Menu List start  ***************/
.menu-container {
    background-color: var(--white);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 300px;
    height: 100vh;
    overflow-y: auto;
}
.menu-container .menu-heading {
    background-color: var(--black);
}
.menu-container .menu-title {
    color: var(--heading);
    padding: 20px 20px;
    margin-bottom: .0rem;
    font-weight: 900;
    font-size: 24px;
}
.menu-container .menu-list {
    height: 82vh;
    padding-right: 10px;
}
.menu-container .menu-list .menu-sub-heading {
    padding: 12px 20px;
    margin-bottom: unset !important;
    font-weight: 600;
}
.menu-container .menu-list .menu-bottom {
    border-bottom: 2px solid var(--gray) !important;
}
.menu-container .menu-list li {
    list-style: none;
    font-size: 14px;
}
.menu-container .menu-list a {
    padding: 8px 20px;
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    color: var(--black);
    cursor: pointer;
}
.menu-container .menu-list a:hover {
    background-color: var(--gray);
    color: var(--black);
}
.menu-container button i:hover {
    color: var(--warning) !important;
}
/*********** Menu List end  ***************/

/*********** technolgy start  ***************/

.technolgy .tech-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid var(--white);
    box-shadow: var(--box-shadow)
}

.technolgy .tech-logo img {
    height: 50px !important;
    width: 50px !important;
}
/*********** technolgy start  ***************/

/*********** Service start ***********/
#service .heading {
    color: var(--heading);
    font-weight: 600;
}
#service .service {
    background-image: linear-gradient(135deg, #95a9efd6, #f5e9e9c2);
    display: flex;
}
#service .service:hover{
        background-image: linear-gradient(135deg, #c8d4ff, #f5e9e9);
}
#service .service .service-content {
    width: 55%;
}
#service .service .service-content p{
    text-align: justify;
}
#service .service .service-img {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#service .service:hover img {
    transform: scale(1);
    transition: 0.5s;
    transform: scale(1.1);
}

#service .custom-shadow {
    box-shadow: 0px 0px 10px 5px rgba(146, 146, 148, 0.596) !important;
}

#service .explore_button {
    box-shadow: 0px 0px 10px 5px rgba(199, 199, 247, 0.596) !important;
    background-color: #f5e9e9;
    font-weight: 600;
    background-image: linear-gradient(135deg, #b1c2fe, #f5e9e9);
    color: #000 !important;
}

#service .explore_button:hover {
    color: var(--heading) !important;
}

@media only screen and (max-width: 1200px) {
    #service .service {
        flex-direction: column-reverse !important;
        flex-wrap: wrap;

    }
    #service .service .service-content{
        width: 100%;

    }
    #service .service .service-img{
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 992px) {

    #service .content {
        padding: 10px;
    }
}

@media only screen and (max-width: 768px) {
    #service .content {
        padding: 30px;
    }
    #service .service{
        flex-direction: row !important;
    }
    #service .service .service-content{
        width: 55%;

    }
    #service .service .service-img{
        width: 45%;
        text-align: center;
    }
}

@media only screen and (max-width: 576px) {
    #service .content {
        padding: 10px;
    }

    #service .service {
        flex-direction: column-reverse !important;
        flex-wrap: wrap;

    }
    #service .service .service-content{
        width: 100%;

    }
    #service .service .service-img{
        width: 100%;
        text-align: center;
    }
}

/*********** Service end ***********/

/*********** Markting start ***********/
#markting .box {
    padding: 15px;
    padding-top: 0px;
    text-align: center;
    transition: 0.3s;
    height: 100%;
    background-image: linear-gradient(135deg, #95a9efd6, #f5e9e9c2);
}

#markting .box img {
    padding: 30px;
    transition: 0.5s;
    transform: scale(1.1);
}
#markting .box h3{
    padding: 0px 30px;
}
#markting .box h3 a{
    font-size: 22px;
    color: var(--heading);
    font-weight: 700;
    margin-bottom: 18px;
    cursor: pointer;
    text-decoration: none;
}
#markting .box p{
    color: var(--dark);
    font-size: 14px;
}

#markting .box:hover {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

#markting .box:hover img {
    transform: scale(1);
}

@media only screen and (max-width: 1100px) {
    #markting .content {
        padding: 10px;
    }
    #markting .content h3 a{
        font-size: 18px;
    }
}
@media only screen and (max-width: 992px) {
    #markting .content {
        padding: 10px;
    }
    #markting .content h3{
        padding: 0px;
    }
    #markting .content h3 a{
        font-size: 18px;
    }
}

@media only screen and (max-width: 768px) {
    #markting .content {
        padding: 30px;
    }
    #markting .box {
        display: flex;
        flex-direction: row-reverse !important;
    }
    #markting .box .m_content {
        text-align: start;
        padding-top: 20px;
    }
    #markting .box img {
        width: 40%;
        padding: 20px;
    }
    #markting .box .m_content h3 a{
        font-size: 20px;
    }
    #markting .box .m_content p{
        font-size: 16px;
    }
}

@media only screen and (max-width: 576px) {
    #markting .content {
        padding: 10px;
    }
    #markting .box {
        display: flex;
        flex-direction: column !important;
    }
    #markting .box img{
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        width: 100%;
        padding: 40px;
    }
}

@media only screen and (max-width: 425px) {
    #markting .box img{
        padding: 20px;
    }
}
/*********** Markting end ***********/

/************* portfolio design start **********/
#portfolio .tap {
    background-color: #cbddef77;
    padding-left: 0px;
}

#portfolio .tap .btn {
    border: none !important;
}

#portfolio .tap li.active {
    box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgba(127, 163, 199, 0.3);
    background: linear-gradient(103deg, #e3edf7, #ffffff);
}

#portfolio .product-btn {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
}

#portfolio .card:hover .product-btn {
    opacity: 1;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    background: linear-gradient(103deg, #52535898, #aaa49fd2);
}

#portfolio .product-btn a {
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    width: 120px;
    border-radius: 15px;
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
}

#portfolio .p_heading .p_name {
    font-size: 16px;
    font-weight: 400;
}

#portfolio .p_heading .p_cate {
    font-size: 12px;
}

#portfolio .p_btn {
    gap: 8px;
}

#portfolio .p_img {
    border-bottom: 5px solid var(--border);
}

#portfolio .p_comp a {
    padding: 0px 15px;
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
}

#portfolio .p_comp a:hover {
    color: var(--heading);
}
@media only screen and (max-width: 768px) {
    #portfolio .tap li {
        width: 49%;
    }
}
/*************** portfolio end *****************/

/************** features design start ************/
#features .icon-box {
    display: flex;
}

#features .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: var(--heading);
}

#features .icon-box i {
    font-size: 44px;
    line-height: 44px;
    color: var(--primary);
    margin-right: 15px;
}

#features .icon-box p {
    font-size: 15px;
    color: var(--dark);
}

@media only screen and (max-width: 1200px) {
    #features .feature_img img{
        display: none;
    }

    #workprocess .process_content .process_step {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1200px) {
    
}
/************** features design end ************/

/************** work process design start ************/
#workprocess .process_icon i {
    font-size: 40px;
    border-radius: 100px;
}

#workprocess .process_content {
    padding-left: 15px;
    text-align: start;
    width: 100%;
}

#workprocess .process_content .process_step {
    font-size: 18px;
}

#workprocess .process_content p {
    border-top: 2px dashed red;
    margin-bottom: 0px !important;
    font-size: 12px;
    font-weight: 600;
    padding-top: 3px;
}

#workprocess .process_icon .one {
    padding: 8px 6px;
    color: var(--white);
    border: 10px solid #f19c9cab;
    background-image: -webkit-linear-gradient(right, #ff4a9f 0, #ffceec 100%);
}

#workprocess .process_icon .two {
    padding: 8px 8px;
    color: var(--white);
    border: 10px solid #f19c9cab;
    background-image: -webkit-linear-gradient(right, #ff5728 0, #ffc587 100%, #ffd328 100%);
}

#workprocess .process_icon .three {
    padding: 8px 4px;
    color: var(--white);
    border: 10px solid #289bff6d;
    background-image: -webkit-linear-gradient(right, #2899ff 0, #a9e0ff 100%, #ffc587 100%);
}

#workprocess .process_icon .four {
    padding: 10px 14px;
    color: var(--white);
    border: 10px solid #01ce917d;
    background-image: -webkit-linear-gradient(right, #01ce92 0, #58ff83 100%);
}

@media only screen and (max-width: 768px) {
    #workprocess .process_icon i {
            font-size: 20px;
        }
    #workprocess .process_content .process_step {
        font-size: 16px;
    }
}

/************** work process design end ************/

/************** achievement design start ************/
#achievement .achievement {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid var(--white);
}

#achievement .ach_content {
    padding: 20px;
}

#achievement .ach_content img {
    width: 45px;
}

#achievement .ach_content .counter {
    font-size: 25px;
    line-height: 1;
}
#achievement .ach_content p{
    margin-bottom: unset !important;
    font-size: 14px;
}

@media only screen and (max-width: 992px) {
    #achievement .achievement {
        width: 150px;
        height: 150px;
    }
    #achievement .ach_content {
        padding: 10px;
    }

    #achievement .ach_content img {
        width: 45px;
    }

    #achievement .ach_content .counter {
        font-size: 20px;
    }
    #achievement .ach_content p{
        font-size: 14px;
    }
}

@media only screen and (max-width: 825px) {
    #achievement .content{
        padding: 5px;
    }
}
@media only screen and (max-width: 768px) {
    #achievement .achievement{
        margin-bottom: 30px !important;
    }
}

@media only screen and (max-width: 425px) {
    #achievement .achievement {
            width: 120px;
            height: 120px;
        }
    
        #achievement .ach_content {
            padding: 10px;
        }
    
        #achievement .ach_content img {
            width: 30px;
        }
    
        #achievement .ach_content .counter {
            font-size: 14px;
            font-weight: 600;
        }
        #achievement .ach_content p{
            font-size: 12px;
        }
    }

/************** achievement design end ************/

/************** contact design start ************/
#contact .info-box {
    background-image: linear-gradient(135deg, #e8f7f6d2, #f5e9e9d7);
    padding: 30px;
    border-radius: 5px;
}

#contact .info-box i {
    font-size: 38px;
    line-height: 0;
    color: var(--heading);
}

#contact .info-box h3 {
    font-size: 20px;
    color: var(--black);
    font-weight: 700;
    margin: 20px 0 10px 0;
}

#contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

#contact .php-email-form {
    background: var(--white);
    padding: 30px;
    height: 100%;
}

#contact .php-email-form .sent-message {
    display: none;
    color: var(--white);
    background: var(--heading);
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

#contact .php-email-form input,
#contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 0;
}

#contact .php-email-form input:focus,
#contact .php-email-form textarea:focus {
    border-color: var(--heading);
}

#contact .php-email-form input[type=text],
#contact .php-email-form input[type=email] {
    padding: 10px 15px;
}

#contact .php-email-form textarea {
    padding: 12px 15px;
}

#contact .php-email-form button[type=submit] {
    background: var(--button);
    border: 0;
    padding: 10px 30px;
    color: var(--white);
    transition: 0.4s;
    border-radius: 4px;
}

#contact .php-email-form button[type=submit]:hover {
    background: #5969f3;
}

#contact .info-box i {
    padding-top: 12px !important;
}
/************** contact design end ************/

/************** footer-card design start ************/
#footer-card .contact_card {
    background-image: linear-gradient(135deg, #e8f7f6d2, #f5e9e9d7);
    border-radius: 15px !important;
    padding: 30px;
}

#footer-card .contact_card {
    font-size: 16px;
    font-weight: 400;
}

#footer-card .contact_card img {
    width: 60px;
}

#footer-card .contact_content a {
    padding: 10px 10px;
    text-decoration: none;
    color: var(--black);
}

@media only screen and (max-width: 490px) {

    .contact_card {
        padding: 30px 20px !important;
    }

    .contact_card span {
        padding-right: 5px !important;
    }

    .contact_card a img {
        width: 50px !important;
    }
}

@media only screen and (max-width: 425px) {
    .contact_card {
        padding: 30px 10px !important;
    }

    .contact_card span {
        padding-right: 5px !important;
    }

    .contact_card a img {
        width: 45px !important;
    }
}
/************** footer-card design end ************/

/************** footer= design start ************/
#footer .footer {
    background-image: linear-gradient(135deg, #e8f7f6d2, #f5e9e9d7);
}

#footer .footer p {
    text-align: justify;
}

#footer .footer .widget-heading {
    font-size: 18px;
    color: var(--black);
    padding-bottom: 20px;
}

#footer .footer ul {
    list-style: none;
    padding-left: 0px;
}

#footer .footer .widget-link  li{
    padding: 5px 0px !important;
}
#footer .footer .widget-content li {
    padding: 5px 0px !important;
}
#footer .footer .widget-link  li a{
    text-decoration: none;
    color: var(--black);
}

.footer form {
    max-width: 350px;
    margin: 15px auto;
    position: relative;
}

#footer .footer .subscribe {
    width: 100%;
    height: 55px;
    background: var(--white);
    border-radius: 100px;
    padding: 0 30px;
    border: none;
}

#footer .subscribe-button {
    height: 30px;
    padding: 0 15px;
    border-radius: 3px;
    border: none;
    position: absolute;
    right: 14px;
    top: 14px;
    line-height: 14px;
    font-size: 14px;
    color: var(--white);
    cursor: pointer;
    border-radius: 100px;
    background-image: linear-gradient(135deg, #16f036, #7cf016ad);
}

#footer .gateway {
    width: 12%;
}

#footer .payment_gateway {
    display: flex;
    justify-content: space-around;
    border: 2px solid var(--white);
    padding: 10px 5px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}
@media only screen and (max-width: 768px) {
    #footer .content {
        padding: 0px 30px;
    }
}

@media only screen and (max-width: 576px) {
    #footer .footer_two {
        width: 50% !important;
        padding-left: 50px !important;
    }

    #footer .footer_tre {
        width: 50% !important;
        padding-left: 50px !important;
    }

}
/************** footer= design end ************/

/************** page= design start ************/
#page{
    background-size: cover;
    background-position: center;
}
#page .overlay {
    background-color: #00000084 !important;
    color: #ffffffbc;
}

#page .page_heading{
    padding-top: 50px;
    display: flex;
}

#page .page_heading h1{
    font-size: 50px !important;
    font-weight: 600;
    padding-top: 20px;
}
#page .page_heading .left_icon img{
    width: 35px;
    color: var(--white) !important;
}
#page .page_heading .right_icon img{
    width: 80px;
    color: var(--white) !important;
}

#page .page_desc{
    padding-left: 35px;
}
#page .page_desc p{
    text-align: justify;
}

@media only screen and (max-width: 992px) {
    #page .page_heading h1{
        font-size: 40px !important;
        font-weight: 600;
        padding-top: 20px;
    }
    #page .page_desc p{
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 576px) {
    #page .page_heading h1{
        font-size: 30px !important;
        font-weight: 600;
        padding-top: 10px;
    }
}

@media only screen and (max-width: 425px) {
    #page .page_heading h1{
        font-size: 25px !important;
        font-weight: 600;
        padding-top: 10px;
    }
}

/************** page= design end ************/


/************** Hire Pages design Start ************/
#pagebanner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#pagebanner .ban-content {
    padding: 80px 0px;
}
/************** Hire Pages design end ************/

/************** team design start ************/
@media only screen and (max-width: 992px) {
    #aboupage .about-img {
        display: none;
    }
}
/************** team design start ************/

/************** team design start ************/
#team .box {
    padding: 5px;
    background-image: linear-gradient(135deg, #e8f7f6d2, #f5e9e9d7);
}

#team .box .team-img {
    margin: auto;
    width: 100%;
    height: 170px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid var(--gray);
    overflow: hidden;
}

#team .box .team-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#team .box .team-content {
    padding: 10px 5px;
    text-align: center;
}
#team .box .team-content .team-name {
    font-size: 18px;
    font-weight: 600;
    color: var(--heading);
}
#team .box .team-content .team-designation{
    font-size: 16px;
    font-weight: 400;
}

@media only screen and (max-width: 992px) {
    #team .box .team-img {
        width: 90% !important;
        height: 190px;
    }
}
@media only screen and (max-width: 768px) {
    #team .content {
        padding: 10px;
    }
    #team .box .team-img {
        width: 90% !important;
        height: 200px;
    }
}

@media only screen and (max-width: 576px) {
    #team .box .team-img {
        width: 80% !important;
        height: 215px;
    }
}
@media only screen and (max-width: 450px) {
    #team .box .team-img {
        width: 80% !important;
        height: 160px;
    }
}
/************** team design end ************/
