/* start*/
@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 425px) {}

@media only screen and (max-width: 350px) {}

/*End*/
/* start*/
@media only screen and (max-width: 1200px) {
    #website .reverse {
            flex-direction: column;
            flex-wrap: wrap;
        }
    #website .cont_res, .img_res {
            width: 100% !important;
        }

    #software .menu_list {
            width: 200px;
        }
    
    #technolgy .technolgy_title {
        padding-top: 5px !important;
    }
    #technolgy .technolgy_title h3 {
        font-weight: 600;
        font-size: 25px;
    }
    
    #technolgy .technolgy_title h4 {
        font-size: 20px;
    }

    #technolgy .technolgy_img img {
        width: 70px;
    }
}

@media only screen and (max-width: 992px) {
    #header .nav_bar .menu ul li .megamenu {
            left: 4%;
        }
    
    #website .reverse {
            flex-direction: row-reverse !important;
        }
    
    #website .cont_res,
        .img_res {
            width: 50% !important;
        }
    
    .menu .blog, .portfolio{
            display: none;
        }
    .s_content {
            padding: 0px 50px;
        }


    #software .menu_list {
            width: 200px;
        }
    #software .soft_img_res {
            display: none;
        }
    #background {
            height: 300px;
        }

    #page .page_reverse {
        display: flex;
        flex-direction: column-reverse !important;
        }
    #page .page_img{
        display: flex;
        justify-content: center;
    }
    #page .page_title{
        padding-top: 0px;
    }

    #technolgy .technolgy_title{
        text-align: center !important;
    }

    #technolgy .technolgy_img_card{
        justify-content: center !important;
    }
}

@media only screen and (max-width: 768px) {

    .menu .about, .product {
            display: none;
        }
    .s_content {
            padding: 0px 10px;
        }
    #software .menu_list {
            width: 200px;
        }
    #portfolio .tap li {
            width: 49%;
        } 
    #footer .content{
        padding: 0px 30px;
    }
}

@media only screen and (max-width: 576px) {
    .content{
        padding: 0px 10px;
    }

    #header .menu .home{
            display: none;
        }
    #website .reverse{
            flex-direction: column-reverse !important;
        }
    #website .cont_res,
        .img_res {
            width: 100% !important;
        }

    .s_content {
        padding: 0px 0px;
    }
    .s_service h3 {
        font-size: 18px;
        font-weight: 400;
    }
    .s_title {
        font-size: 24px;
        font-weight: 600;
    }

    #software .menu_list{
        width: 200px;
    }

    #about .about_btn {
        display: flex !important;
    }

    #footer .footer_two{
        width: 50% !important;
        padding-left: 50px !important;
    }
    #footer .footer_tre{
        width: 50% !important;
        padding-left: 50px !important;
    }

    #background {
             height: 250px;
    }

    #technolgy .technolgy_img img {
            width: 50px !important;
        }

}

@media only screen and (max-width: 490px) {
    #header .nav_bar .menu ul li .sub-menu-service {
            left: 42%;
        }
    .contact_card {
        padding: 30px 20px !important;
    }

    .contact_card span {
        padding-right: 5px !important;
    }

    .contact_card a img {
        width: 50px !important;
    }

    #about .about_img img{
        width: 300px;
    }
}

@media only screen and (max-width: 425px) {
    .contact_card{
        padding: 30px 10px !important;
    }
    .contact_card span{
        padding-right: 5px !important;
    }
    .contact_card a img{
        width: 45px !important;
    }
}

@media only screen and (max-width: 350px) {}

/*End*/