/* start*/
@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 425px) {}

@media only screen and (max-width: 350px) {}

/*End*/
/* start*/
@media only screen and (max-width: 1200px) {
    #website .reverse {
            flex-direction: column;
            flex-wrap: wrap;
        }
    #website .cont_res, .img_res {
            width: 100% !important;
        }

    #software .menu_list {
            width: 200px;
        }
    
}

@media only screen and (max-width: 992px) {
    
    
    #website .reverse {
            flex-direction: row-reverse !important;
        }
    
    #website .cont_res,
        .img_res {
            width: 50% !important;
        }
    
  

    #software .menu_list {
            width: 200px;
        }
    #software .soft_img_res {
            display: none;
        }
    #background {
            height: 300px;
        }

    #page .page_reverse {
        display: flex;
        flex-direction: column-reverse !important;
        }
    #page .page_img{
        display: flex;
        justify-content: center;
    }
    #page .page_title{
        padding-top: 0px;
    }

}

@media only screen and (max-width: 768px) {

    
    #software .menu_list {
            width: 200px;
        }
    #portfolio .tap li {
            width: 49%;
        } 
    #footer .content{
        padding: 0px 30px;
    }
}

@media only screen and (max-width: 576px) {
    .content{
        padding: 0px 10px;
    }

    
    #website .reverse{
            flex-direction: column-reverse !important;
        }
    #website .cont_res,
        .img_res {
            width: 100% !important;
        }

    .s_service h3 {
        font-size: 18px;
        font-weight: 400;
    }
    .s_title {
        font-size: 24px;
        font-weight: 600;
    }

    #software .menu_list{
        width: 200px;
    }

    #footer .footer_two{
        width: 50% !important;
        padding-left: 50px !important;
    }
    #footer .footer_tre{
        width: 50% !important;
        padding-left: 50px !important;
    }

    #background {
             height: 250px;
    }

}

@media only screen and (max-width: 490px) {
    
    .contact_card {
        padding: 30px 20px !important;
    }

    .contact_card span {
        padding-right: 5px !important;
    }

    .contact_card a img {
        width: 50px !important;
    }
}

@media only screen and (max-width: 425px) {
    .contact_card{
        padding: 30px 10px !important;
    }
    .contact_card span{
        padding-right: 5px !important;
    }
    .contact_card a img{
        width: 45px !important;
    }
}

@media only screen and (max-width: 350px) {}

/*End*/